.topNav {
  width: 100%;
  background-color: #1a2d51;
}

.topNavUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topNavLI {
  float: left;
}

.topNavLI span {
  display: block;
  text-align: center;
  padding: 16px 18px;
  color: white;
  background-color: #1a2d51;
}

.topNavLILEFT a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: #1a2d51;
}
