.Nav > .MainNavImg > img {
  padding: 20px 40px;
  max-width: 100%;
}

.navbar {
  overflow: hidden;
  margin-left: 200px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #777777;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #777777;
  padding: 14px 19px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: black;
  transition: 0.5s ease-in-out;
}

.dropdown-content {
  border: 1px solid lightgray;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #777777;
  border-bottom: 1px solid lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navResponsive {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navResponsive {
    display: block;
  }
  .navResponsive .resBtn {
    float: right;
    margin-top: -80px;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  opacity: 1 !important;
  color: white;
  font-weight: bold;
  width: 100%;
}
.centeredSubText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 19px;
}
@media screen and (max-width: 1000px) {
  .centeredSubText {
    top: 60%;
  }
}
.contactText {
  background-color: #1a2d51;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .contactText {
    padding: 7px;
    top: 86%;
  }
  .centeredSubText {
    top: 65%;
  }
}
@media screen and (max-width: 584px) {
  .contactText {
    /* padding: 5px; */
    top: 85%;
  }
}

@media screen and (max-width: 660px) {
  .centeredSubText {
    top: 60% !important;
  }
}
@media screen and (max-width: 550px) {
  .contactText {
    padding: 1px;
    top: 80%;
  }
  .centeredSubText {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .centered {
    font-size: 50px;
  }
}
@media screen and (max-width: 750px) {
  .centered {
    font-size: 35px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 500px) {
  .centered {
    font-size: 25px;
    margin-top: -20px;
  }
}
.img img {
  filter: brightness(50%);
  /* background-color: black

  filter: blur(5px);
  -webkit-filter: blur(5px); */
  /* opacity: 0.3; */
  max-width: 100%;
}
