.heroHeading1 {
  padding-top: 50px;
  color: #303133;
  display: block;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 0;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1;
}

.seperator {
  margin-bottom: 5px;
  float: left;
  width: 100%;
  text-align: center;
  display: flex;
}
.seperator span:before {
  background-color: #ddd;
  content: "";
  height: 1px;
  left: 42%;
  width: 60px;
  position: absolute;
}
.seperator span:after {
  background-color: #ddd;
  content: "";
  height: 1px;
  left: 53%;
  width: 60px;
  position: absolute;
}
@media screen and (max-width: 1000px) {
  .seperator span:before {
    left: 39%;
  }
}
@media screen and (max-width: 600px) {
  .seperator span:before {
    left: 35%;
  }
  .seperator span:after {
    left: 54%;
  }
}
@media screen and (max-width: 400px) {
  .seperator span:before {
    left: 30%;
  }
  .seperator span:after {
    left: 57%;
  }
}

.subtext {
  /* font-size: 2vw; */
  text-align: center;
  background-color: #fff;
  color: #6e6e6e;
  font-size: 17px;
  line-height: 24px;
  margin: 0 15px 0 0;
  padding-top: 20px !important;
}

.griditems {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media screen and (max-width: 500px) {
  .griditems {
    display: block;
    width: 100%;
    margin-left: 10%;
  }
}
.item1 {
  /* width: 33%; */
  float: left;
  padding: 30px;
}
.item2 {
  /* width: 33%; */
  float: left;
  padding: 20px;
}
.item3 {
  /* width: 33%; */
  float: left;
  padding: 20px;
}
.square {
  height: 80px;
  width: 80px;
  border: 1px solid #1a2d51;
  transform: rotate(45deg);
  align-items: center;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.square:hover {
  background-color: #1a2d51;
}

.square:hover .comment {
  color: white;
}
.square:hover .cog {
  color: white;
}
.square:hover .wrench {
  color: white;
}
@media screen and (max-width: 600px) {
  .item1 {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
  .item3 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.details {
  padding: 20px;
}

.detail {
  color: #6e6e6e;
  font-size: 15px;
  line-height: 24px;
  padding: 20px;
}

.readMore {
  color: #1a2d51;
  font-size: 15px;
  margin-left: 7%;
}
.readMore a:after {
  color: #1a2d51;
  content: "\f101";
  display: inline-block;
  font-size: 15px;
  font-family: "FontAwesome";
  margin-left: 10px;
}
.readMore a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  opacity: 1 !important;
  color: white;
  font-weight: bold;
  width: 100%;
}
.centeredSubText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 19px;
}
@media screen and (max-width: 1000px) {
  .centeredSubText {
    top: 60%;
  }
}
.contactText {
  background-color: #1a2d51;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .contactText {
    padding: 7px;
    top: 86%;
  }
  .centeredSubText {
    top: 65%;
  }
}
@media screen and (max-width: 584px) {
  .contactText {
    /* padding: 5px; */
    top: 85%;
  }
}

@media screen and (max-width: 660px) {
  .centeredSubText {
    top: 60% !important;
  }
}
@media screen and (max-width: 550px) {
  .contactText {
    padding: 1px;
    top: 80%;
  }
  .centeredSubText {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .centered {
    font-size: 50px;
  }
}
@media screen and (max-width: 750px) {
  .centered {
    font-size: 35px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 500px) {
  .centered {
    font-size: 25px;
    margin-top: -20px;
  }
}
.img img {
  filter: brightness(50%);
  /* background-color: black

  filter: blur(5px);
  -webkit-filter: blur(5px); */
  /* opacity: 0.3; */
  max-width: 100%;
}
